<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>RealTimeCommunication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
	<servlet>
		<servlet-name>RTC</servlet-name>
    	<servlet-class>com.rtc.communication.websocket.CommunicationWebsocketServlet</servlet-class> 
    	<init-param>
			<param-name>cacheControl</param-name>
			<param-value>max-age=3600,public</param-value> 
		</init-param>
	</servlet>
	<!-- Map URLs to that servlet. -->
  	<servlet-mapping>
    	<servlet-name>RTC</servlet-name>
    	<url-pattern>/connection</url-pattern>
    </servlet-mapping>
</web-app>